* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 1440px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.616);
  height: 96px; }
  header img {
    padding: 20px;
    width: 115px;
    height: 96px;
    background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550); }
  header p {
    background-size: 8%;
    font-size: 50px;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white; }
  header nav {
    width: 1300px;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550); }
  header ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    size: 100%;
    height: 100%; }
  header a {
    font-size: 25px;
    align-items: center, center;
    margin: 32px;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif; }
  header li {
    display: flex;
    justify-content: center;
    height: 100%; }
  header li:hover {
    background-color: rgba(128, 128, 128, 0.349);
    width: 23%;
    height: 101%; }
  header a:hover {
    font-size: 28px; }

@media (max-width: 768px) {
  header {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/fondo-de-main-blanco.jpg);
    height: 80px;
    background-size: cover; }
  header img {
    padding: 20px;
    width: 80px;
    height: 80px;
    background-color: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550);
    justify-content: space-around; }
  header p {
    height: 2px;
    background-color: white;
    margin: 0px;
    padding: 0px; }
  header nav {
    width: 768px;
    height: 110px;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550); }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    size: 100%;
    height: 100%; }
  header nav ul li a {
    font-size: 19px;
    align-items: center, center;
    margin: 32px;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif; }
  header nav ul li {
    display: flex;
    justify-content: center;
    height: 100%; }
  header nav ul li:hover {
    background-color: rgba(128, 128, 128, 0.349);
    width: 23%;
    height: 100%; }
  header nav ul li a:hover {
    font-size: 20px; } }

@media (max-width: 390px) {
  body {
    width: 390px; }
  header img {
    padding: 20px;
    width: 80px;
    height: 80px;
    background-color: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550);
    justify-content: space-evenly; }
  header p {
    height: 2px;
    background-color: white;
    margin: 0px;
    padding: 0px; }
  header nav {
    width: 390px;
    height: 250px;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550);
    flex-direction: column; }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    size: 100%;
    height: 100%;
    flex-direction: column; }
  header nav ul li a {
    font-size: 16px;
    align-items: center, center;
    margin: 8px 0px 0px 0px;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif; }
  header nav ul li {
    display: flex;
    justify-content: center;
    height: 100%; }
  header nav ul li:hover {
    background-color: rgba(128, 128, 128, 0.349);
    width: 100%;
    height: 100%; }
  header nav ul li a:hover {
    font-size: 18px; } }

main {
  background-color: rgba(240, 128, 128, 0.829);
  width: 1440px; }

.section-main {
  background-image: url(../assets/img/foto-portada.jpg);
  background-size: 1440px;
  height: 430px;
  background-position: center;
  display: grid;
  grid-template-columns: 2;
  grid-template-areas: 2;
  grid-template-areas: "item1 ." "item2 item3";
  column-gap: 40px; }
  .section-main h1 {
    grid-area: item1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Satisfy', cursive;
    padding: 30px 30px 0px 30px;
    margin: 30px 30px 0px 30px; }
  .section-main h2 {
    grid-area: item2;
    display: flex;
    align-content: baseline;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    font-size: 34px;
    color: white; }
  .section-main button {
    grid-area: item3;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 400px;
    margin: 0px 24px 30px 100px;
    padding: 10px;
    background-color: #CF2B10;
    border: #CF2B10;
    border-radius: 20px;
    height: 100px; }
  .section-main a {
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 12px;
    color: white;
    text-decoration: none; }
  .section-main a:hover {
    font-size: 28px;
    justify-content: center; }
  .section-main button:hover {
    background-color: #aa2713; }

.section-main2 {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: white;
  width: 1440px;
  padding: 20px;
  align-items: center; }
  .section-main2 h2 {
    padding: 10px;
    margin: 25px 20px 10px 20px;
    font-size: 35px;
    justify-content: center;
    font-family: 'Quicksand', sans-serif; }
  .section-main2 p {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 5px 5px 5px;
    margin: 0px 5px 20px 5px;
    text-align: center; }

.section-main3 {
  display: flex;
  height: 1500px;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/img/fondo-index.jpg);
  background-size: 1900px; }

.container-index {
  width: 1000px;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.815); }
  .container-index figure {
    display: flex;
    flex-direction: column;
    align-items: center, center; }
  .container-index h2 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    margin: 70px; }
  .container-index img {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: row;
    border-radius: 100%; }
  .container-index div {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 90px;
    justify-content: space-around; }
  .container-index figcaption {
    font-size: 20px;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    margin: 40px;
    padding-right: 10px;
    text-align: center;
    justify-self: center; }

.main-informate {
  background-image: url(../assets/img/fondo-de-main-blanco.jpg);
  background-size: 1500px; }
  .main-informate h2 {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    padding: 100px;
    color: white; }
  .main-informate h4 {
    background-color: white;
    padding: 30px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center; }
  .main-informate section {
    width: 1200px;
    padding: 50px;
    margin: 115px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center, center;
    background-color: rgba(255, 255, 255, 0.575); }

.one, .two, .three, .four, .five, .six, .seven {
  background-color: lightblue;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px; }
  .one h2, .two h2, .three h2, .four h2, .five h2, .six h2, .seven h2 {
    grid-area: text1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px; }
  .one h3, .two h3, .three h3, .four h3, .five h3, .six h3, .seven h3 {
    grid-area: text2;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    background-color: white;
    padding: 20px;
    margin: 15px; }

.two {
  background-color: lightcoral; }

.three {
  background-color: lightgreen; }

.four {
  background-color: lightseagreen; }

.five {
  background-color: lightsalmon; }

.six {
  background-color: #0e5d6fc9; }

.seven {
  background-color: lightgreen; }

.video {
  width: 1440px;
  height: 380px; }
  .video iframe {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
    margin-left: 450px; }

footer {
  background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550);
  display: flex;
  flex-direction: row;
  width: 1440px; }
  footer div {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    gap: 35px; }
  footer figure {
    display: flex;
    flex-direction: row; }
  footer img {
    width: 55px;
    height: 55px;
    padding: 10px;
    margin-right: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px; }
  footer h3 {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    padding: 15px;
    justify-content: center;
    margin-top: 5px;
    margin-left: 10px; }
  footer figcaption {
    margin: 27px 22px 22px 0px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif; }

.main-boletos {
  display: flex;
  justify-content: center;
  width: 1440px;
  height: 1700px;
  background-image: url(../assets/img/fondo-informate.jpg);
  background-size: 1440px; }

.sect1 {
  height: 1500px;
  padding: 60px;
  margin: 5px;
  width: 80%;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 8;
  grid-template-areas: " text text"  "part2 part3" "part2 part3" "part2 part3" "part4 part4" "part4 part4" " part4 part4" " part4 part4";
  gap: 10px; }

.sect1 h2 {
  grid-area: text;
  font-size: 36px;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  text-align: center;
  background-color: white;
  height: 100px;
  padding: 30px; }

.part2 {
  grid-area: part2;
  height: 800px; }
  .part2 label {
    font-size: 27px;
    margin: 15px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center; }
  .part2 input {
    height: 30px;
    width: 30px; }
  .part2 figure {
    width: 100%; }
    .part2 figure img {
      height: 600px;
      display: flex;
      justify-content: center;
      width: 85%;
      padding: 10px;
      padding-left: 27px; }

.part3 {
  grid-area: part3;
  height: 800px; }
  .part3 label {
    font-size: 27px;
    margin: 15px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center; }
  .part3 input {
    height: 30px;
    width: 30px; }
  .part3 figure {
    width: 100%; }
    .part3 figure img {
      padding: 10px;
      padding-right: 27px;
      height: 600px;
      display: flex;
      justify-content: center;
      width: 85%; }

.sect1 fieldset {
  grid-area: part4;
  display: flex;
  flex-direction: column;
  height: 500px; }
  .sect1 fieldset label {
    font-size: 27px;
    margin-top: 25px;
    font-family: 'Quicksand', sans-serif; }
  .sect1 fieldset legend {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif; }
  .sect1 fieldset span {
    font-size: 26px;
    font-family: 'Quicksand', sans-serif; }
  .sect1 fieldset input {
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    height: 40px;
    padding: 15px; }

.main-galeria {
  background-color: bisque;
  background-image: url(../assets/img/fondo-de-main-blanco.jpg);
  background-size: 1440px;
  height: 1600px; }
  .main-galeria img {
    width: 100px; }
  .main-galeria h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
    font-size: 27px;
    font-family: 'Quicksand', sans-serif;
    background-color: white; }

.h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  background-size: 1440px;
  background-position: center;
  color: white; }

.carrusel {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 1500px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; }

.carrusel-img {
  width: 1500px;
  object-fit: cover;
  scroll-snap-align: center; }
  .carrusel-img img {
    margin: 30px;
    justify-content: center; }

.main-maps {
  background-image: url(../assets/img/fondo-informate.jpg);
  background-size: 1440px;
  height: 1400px; }
  .main-maps h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    padding: 60px;
    color: white; }
  .main-maps h1 {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-family: 'Quicksand', sans-serif;
    padding: 35px;
    background-color: white; }
  .main-maps div {
    padding: 50px;
    display: grid;
    row-gap: 80px;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-template-areas: "ub1 ub2 ub3" "ub4 ub5 ub6" "none ub7 .";
    justify-content: space-evenly; }

.ubi1, .ubi2, .ubi3, .ubi4, .ubi5, .ubi6, .ubi7 {
  grid-area: ub1;
  width: 280px;
  height: 240px; }

.ubi2 {
  grid-area: ub2; }

.ubi3 {
  grid-area: ub3; }

.ubi4 {
  grid-area: ub4; }

.ubi5 {
  grid-area: ub5; }

.ubi6 {
  grid-area: ub6; }

.ubi7 {
  grid-area: ub7; }

.main-informate section {
  width: 1200px; }

.section-main a {
  font-size: 26px;
  padding-top: 20px; }

.section-main h1 {
  font-size: 80px; }

.section-main h2 {
  font-size: 34px; }

@media (max-width: 768px) {
  header {
    height: 180px; }
  main {
    background-color: rgba(240, 128, 128, 0.829);
    max-width: 768px; }
  .section-main {
    background-size: 768px;
    height: 350px;
    column-gap: 20px; }
    .section-main h1 {
      font-size: 52px;
      padding: 10px 30px 0px 30px;
      margin: 10px 30px 0px 30px; }
    .section-main h2 {
      font-size: 30px;
      color: white; }
    .section-main button {
      width: 150px;
      justify-content: center;
      margin: 0px;
      padding: 10px;
      height: 70px; }
    .section-main a {
      padding-top: 9px;
      font-size: 17px; }
    .section-main a:hover {
      font-size: 20px;
      justify-content: center; }
  .section-main2 {
    height: 300px;
    background-color: white;
    width: 768px;
    padding: 20px;
    align-items: center; }
    .section-main2 h2 {
      font-size: 28px; }
    .section-main2 p {
      font-size: 17px; }
  .section-main3 {
    display: flex;
    height: 1800px;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/fondo-index.jpg);
    background-size: 2000px; }
  .container-index {
    width: 700px;
    height: 1800px; }
    .container-index h2 {
      font-size: 28px; }
  footer {
    flex-direction: column;
    width: 768px; }
    footer div {
      display: flex;
      flex-direction: row;
      gap: 20px; }
    footer figure {
      display: flex;
      flex-direction: row; }
    footer img {
      display: flex;
      width: 52px;
      height: 52px;
      flex-direction: column; }
    footer h3 {
      font-size: 16px; }
    footer figcaption {
      font-size: 15px; }
  .main-informate {
    background-image: url(../assets/img/fondo-de-main-blanco.jpg);
    background-size: 3000px;
    height: 4600px; }
    .main-informate h2 {
      display: flex;
      justify-content: center, center;
      font-size: 30px;
      padding: 100px;
      color: whitesmoke;
      text-align: center; }
    .main-informate h4 {
      background-color: white;
      padding: 30px;
      font-size: 23px;
      display: flex;
      justify-content: center; }
    .main-informate section {
      width: 680px;
      padding: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 45px;
      justify-content: center, center;
      background-color: rgba(255, 255, 255, 0.575); }
  .one, .two, .three, .four, .five, .six, .seven {
    background-color: lightblue;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px; }
    .one h2, .two h2, .three h2, .four h2, .five h2, .six h2, .seven h2 {
      grid-area: text1;
      padding: 40px;
      display: flex;
      align-items: center;
      font-size: 30px; }
    .one h3, .two h3, .three h3, .four h3, .five h3, .six h3, .seven h3 {
      grid-area: text2;
      font-family: 'Quicksand', sans-serif;
      font-size: 17px;
      background-color: white;
      padding: 20px;
      margin: 15px; }
  .video {
    width: 300px;
    height: 300px;
    justify-content: center; }
    .video iframe {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 40px;
      margin-left: 60px; }
  .main-maps {
    background-size: 768px;
    height: 1150px; }
    .main-maps h2 {
      display: flex;
      justify-content: center;
      font-size: 33px;
      padding: 40px; }
    .main-maps h1 {
      display: flex;
      justify-content: center;
      font-size: 25px;
      padding: 30px; }
    .main-maps div {
      padding: 40px;
      display: grid;
      row-gap: 30px;
      grid-template-columns: 2;
      grid-template-rows: 4;
      grid-template-areas: "ub1 ub2" "ub3 ub4" "ub5 ub6" "ub7 ub7";
      justify-content: space-evenly; }
  .ubi1, .ubi2, .ubi3, .ubi4, .ubi5, .ubi6, .ubi7 {
    grid-area: ub1;
    width: 200px;
    height: 170px; }
  .ubi2 {
    grid-area: ub2; }
  .ubi3 {
    grid-area: ub3; }
  .ubi4 {
    grid-area: ub4; }
  .ubi5 {
    grid-area: ub5; }
  .ubi6 {
    grid-area: ub6; }
  .ubi7 {
    grid-area: ub7; }
  .main-boletos {
    width: 768px;
    height: 1880px; }
  .sect1 {
    height: 1900px;
    width: 80%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 8;
    grid-template-areas: " text text"  "part2 part2" "part2 part2" "part3 part3" "part3 part3" "part4 part4" " part4 part4" " part4 part4";
    gap: 0px; }
  .sect1 h2 {
    grid-area: text;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    background-color: white;
    height: 100px;
    padding: 30px; }
  .part2 {
    grid-area: part2;
    height: 500px; }
    .part2 label {
      font-size: 27px;
      margin: 15px;
      padding: 10px;
      margin-left: 70px;
      margin-bottom: 40px;
      text-align: center; }
    .part2 input {
      height: 25px;
      width: 25px; }
    .part2 figure {
      width: 100%; }
      .part2 figure img {
        height: 500px;
        padding-right: 27px;
        padding-left: 67px; }
  .part3 {
    grid-area: part3;
    height: 500px; }
    .part3 label {
      font-size: 27px;
      margin: 15px;
      padding: 10px;
      margin-left: 70px;
      margin-bottom: 40px;
      text-align: center; }
    .part3 input {
      height: 25px;
      width: 25px; }
    .part3 figure {
      width: 100%; }
      .part3 figure img {
        height: 500px;
        padding-right: 27px;
        padding-left: 67px; }
  .sect1 fieldset {
    height: 480px; }
    .sect1 fieldset label {
      font-size: 22px;
      margin-top: 25px; }
    .sect1 fieldset legend {
      font-size: 27px; }
    .sect1 fieldset span {
      font-size: 22px; }
    .sect1 fieldset input {
      font-size: 22px;
      height: 40px;
      padding: 15px; } }

@media (max-width: 390px) {
  header {
    width: 390px;
    height: 330px; }
  main {
    max-width: 390px; }
  .section-main {
    background-image: contain;
    column-gap: 0px;
    justify-content: center;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas: "item1" "item2" "item3"; }
    .section-main h1 {
      font-size: 45px;
      padding: 10px 30px 0px 30px;
      margin: 10px 30px 0px 30px; }
    .section-main h2 {
      font-size: 28px;
      color: white; }
    .section-main button {
      width: 200px;
      margin-left: 30px;
      height: 70px; }
    .section-main a {
      font-size: 17px; }
    .section-main a:hover {
      font-size: 19px; }
  .section-main2 {
    height: 320px;
    width: 390px; }
    .section-main2 h2 {
      font-size: 25px; }
    .section-main2 p {
      font-size: 15px; }
  .section-main3 {
    background-size: 4200px;
    height: 3300px; }
  .container-index {
    width: 280px;
    height: 3300px; }
    .container-index h2 {
      font-size: 22px;
      text-align: center; }
  footer {
    flex-direction: column;
    max-width: 390px;
    background-color: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550); }
    footer div {
      width: 390px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      text-align: center; }
    footer figure {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      footer figure img {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 0;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px; }
    footer h3 {
      font-size: 14px;
      display: flex;
      justify-content: center; }
    footer figcaption {
      font-size: 13;
      margin-right: 0;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0px; }
  .main-informate {
    background-image: url(../assets/img/fondo-de-main-blanco.jpg);
    background-size: 2000px;
    height: 8500px; }
    .main-informate h2 {
      justify-content: center, center;
      font-size: 22px;
      padding: 80px;
      text-align: center; }
    .main-informate h4 {
      background-color: white;
      padding: 20px;
      font-size: 16px;
      display: flex;
      justify-content: center; }
    .main-informate section {
      width: 300px;
      padding: 10px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 45px;
      justify-content: center, center;
      background-color: rgba(255, 255, 255, 0.575); }
  .one, .two, .three, .four, .five, .six, .seven {
    background-color: lightblue;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px; }
    .one h2, .two h2, .three h2, .four h2, .five h2, .six h2, .seven h2 {
      grid-area: text1;
      background-color: black;
      color: white;
      display: flex;
      align-items: center;
      font-family: 'Quicksand', sans-serif;
      font-size: 20px;
      padding: 30px; }
    .one h3, .two h3, .three h3, .four h3, .five h3, .six h3, .seven h3 {
      grid-area: text2;
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
      background-color: white;
      padding: 20px;
      margin: 0px; }
  .video {
    width: 40px;
    height: 70px;
    justify-content: center; }
    .video iframe {
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0px;
      margin-left: 10px; }
  .main-maps {
    background-size: 1400px;
    height: 1570px; }
    .main-maps h2 {
      display: flex;
      text-align: center;
      font-size: 24px;
      padding: 32px; }
    .main-maps h1 {
      display: flex;
      text-align: center;
      font-size: 16px;
      padding: 25px; }
    .main-maps div {
      padding: 40px;
      display: grid;
      row-gap: 30px;
      grid-template-columns: 1;
      grid-template-rows: 7;
      grid-template-areas: "ub1" "ub2" "ub3" "ub4" "ub5" "ub6" "ub7";
      justify-content: space-evenly; }
  .ubi1, .ubi2, .ubi3, .ubi4, .ubi5, .ubi6, .ubi7 {
    grid-area: ub1;
    width: 180px;
    height: 160px; }
  .ubi2 {
    grid-area: ub2; }
  .ubi3 {
    grid-area: ub3; }
  .ubi4 {
    grid-area: ub4; }
  .ubi5 {
    grid-area: ub5; }
  .ubi6 {
    grid-area: ub6; }
  .ubi7 {
    grid-area: ub7; }
  .main-boletos {
    width: 390px;
    height: 1780px; }
  .sect1 {
    height: 1800px;
    width: 90%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 8;
    grid-template-areas: " text"  "part2" "part2" "part3" "part3" "part4" "part4" "part4";
    gap: 0px; }
  .sect1 h2 {
    grid-area: text;
    font-size: 22px;
    margin: 10px;
    height: 60px;
    padding: 20px; }
  .part2 {
    grid-area: part2;
    height: 430px;
    gap: 20px; }
    .part2 label {
      font-size: 18px;
      margin-left: 70px;
      margin-bottom: 60px;
      text-align: center; }
    .part2 input {
      height: 20px;
      width: 20px; }
    .part2 figure {
      width: 100%; }
      .part2 figure img {
        margin-top: 30px;
        height: 400px;
        width: 100%;
        padding: 0px; }
  .part3 {
    grid-area: part3;
    height: 430px; }
    .part3 label {
      font-size: 18px;
      margin: 15px;
      padding: 10px;
      margin-left: 50px;
      margin-bottom: 40px;
      text-align: center; }
    .part3 input {
      height: 20px;
      width: 20px; }
    .part3 figure {
      width: 100%; }
      .part3 figure img {
        margin-top: 30px;
        height: 400px;
        padding: 0px;
        width: 100%; }
  .sect1 fieldset {
    height: 450px; }
    .sect1 fieldset label {
      font-size: 20px;
      margin-top: 25px; }
    .sect1 fieldset legend {
      font-size: 22px; }
    .sect1 fieldset span {
      font-size: 18px; }
    .sect1 fieldset input {
      font-size: 18px;
      height: 40px;
      padding: 15px; } }
