* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 1440px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.616);
  height: 96px; }
  header img {
    padding: 20px;
    width: 115px;
    height: 96px;
    background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550); }
  header p {
    background-size: 8%;
    font-size: 50px;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    color: white; }
  header nav {
    width: 1300px;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550); }
  header ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    size: 100%;
    height: 100%; }
  header a {
    font-size: 25px;
    align-items: center, center;
    margin: 32px;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif; }
  header li {
    display: flex;
    justify-content: center;
    height: 100%; }
  header li:hover {
    background-color: rgba(128, 128, 128, 0.349);
    width: 23%;
    height: 101%; }
  header a:hover {
    font-size: 28px; }

@media (max-width: 768px) {
  header {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/img/fondo-de-main-blanco.jpg);
    height: 80px;
    background-size: cover; }
  header img {
    padding: 20px;
    width: 80px;
    height: 80px;
    background-color: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550);
    justify-content: space-around; }
  header p {
    height: 2px;
    background-color: white;
    margin: 0px;
    padding: 0px; }
  header nav {
    width: 768px;
    height: 110px;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550); }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    size: 100%;
    height: 100%; }
  header nav ul li a {
    font-size: 19px;
    align-items: center, center;
    margin: 32px;
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif; }
  header nav ul li {
    display: flex;
    justify-content: center;
    height: 100%; }
  header nav ul li:hover {
    background-color: rgba(128, 128, 128, 0.349);
    width: 23%;
    height: 100%; }
  header nav ul li a:hover {
    font-size: 20px; } }

main {
  background-color: rgba(240, 128, 128, 0.829);
  width: 1440px; }

.section-main {
  background-image: url(../assets/img/foto-portada.jpg);
  background-size: 1440px;
  height: 430px;
  background-position: center;
  display: grid;
  grid-template-columns: 2;
  grid-template-areas: 2;
  grid-template-areas: "item1 ." "item2 item3";
  column-gap: 40px; }
  .section-main h1 {
    grid-area: item1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    font-family: 'Satisfy', cursive;
    padding: 30px 30px 0px 30px;
    margin: 30px 30px 0px 30px; }
  .section-main h2 {
    grid-area: item2;
    display: flex;
    align-content: baseline;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    font-size: 30px; }
  .section-main button {
    grid-area: item3;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 400px;
    margin: 0px 24px 30px 100px;
    padding: 10px;
    background-color: #CF2B10;
    border: #CF2B10;
    border-radius: 20px; }
  .section-main a {
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 12px;
    color: white;
    text-decoration: none; }
  .section-main a:hover {
    font-size: 28px;
    justify-content: center; }

.section-main2 {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: white;
  width: 1440px;
  padding: 20px;
  align-items: center; }
  .section-main2 h2 {
    padding: 10px;
    margin: 25px 20px 10px 20px;
    font-size: 35px;
    justify-content: center;
    font-family: 'Quicksand', sans-serif; }
  .section-main2 p {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 5px 5px 5px;
    margin: 0px 5px 20px 5px;
    text-align: center; }

.section-main3 {
  display: flex;
  height: 1500px;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/img/fondo-index.jpg);
  background-size: 1500px; }

.container-index {
  width: 1000px;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.815); }
  .container-index figure {
    display: flex;
    flex-direction: column;
    align-items: center, center; }
  .container-index h2 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    margin: 70px; }
  .container-index img {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: row;
    border-radius: 100%; }
  .container-index div {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 90px;
    justify-content: space-around; }
  .container-index figcaption {
    font-size: 20px;
    margin: 10px;
    font-family: 'Quicksand', sans-serif;
    margin: 40px;
    padding-right: 10px;
    text-align: center;
    justify-self: center; }

@media (max-width: 768px) {
  main {
    background-color: rgba(240, 128, 128, 0.829);
    max-width: 768px; }
  .section-main {
    background-image: url(../assets/img/foto-portada.jpg);
    background-size: 768px;
    height: 350px;
    background-position: center;
    display: grid;
    grid-template-columns: 2;
    grid-template-areas: 2;
    grid-template-areas: "item1 ." "item2 item3";
    column-gap: 40px; }
  .section-main h1 {
    grid-area: item1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Satisfy', cursive;
    padding: 30px 30px 0px 30px;
    margin: 30px 30px 0px 30px; }
  a {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 12px;
    color: white;
    text-decoration: none; }
  a:hover {
    font-size: 28px;
    justify-content: center; }
  .section-main2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: white;
    width: 1440px;
    padding: 20px;
    align-items: center; }
    .section-main2 h2 {
      padding: 10px;
      margin: 25px 20px 10px 20px;
      font-size: 35px;
      justify-content: center;
      font-family: 'Quicksand', sans-serif; }
    .section-main2 p {
      display: flex;
      justify-content: space-evenly;
      font-size: 20px;
      font-family: 'Quicksand', sans-serif;
      padding: 0px 5px 5px 5px;
      margin: 0px 5px 20px 5px;
      text-align: center; }
  .section-main3 {
    display: flex;
    height: 1500px;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/fondo-index.jpg);
    background-size: 1500px; }
  .container-index {
    width: 1000px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.815); }
    .container-index figure {
      display: flex;
      flex-direction: column;
      align-items: center, center; }
    .container-index h2 {
      font-size: 40px;
      font-family: 'Quicksand', sans-serif;
      padding: 20px;
      margin: 70px; }
    .container-index img {
      width: 220px;
      height: 220px;
      display: flex;
      flex-direction: row;
      border-radius: 100%; }
    .container-index div {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      gap: 90px;
      justify-content: space-around; }
    .container-index figcaption {
      font-size: 20px;
      margin: 10px;
      font-family: 'Quicksand', sans-serif;
      margin: 40px;
      padding-right: 10px;
      text-align: center;
      justify-self: center; } }

.main-informate {
  background-image: url(../assets/img/fondo-de-main-blanco.jpg);
  background-size: contain; }
  .main-informate h2 {
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    padding: 100px;
    color: white; }
  .main-informate h4 {
    background-color: white;
    padding: 30px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center; }
  .main-informate section {
    width: 1100px;
    padding: 50px;
    margin: 115px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center, center;
    background-color: rgba(255, 255, 255, 0.575); }

.one, .two, .three, .four, .five, .six, .seven {
  background-color: lightblue;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 30px; }
  .one h2, .two h2, .three h2, .four h2, .five h2, .six h2, .seven h2 {
    grid-area: text1;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px; }
  .one h3, .two h3, .three h3, .four h3, .five h3, .six h3, .seven h3 {
    grid-area: text2;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    background-color: white;
    padding: 20px;
    margin: 15px; }

.two {
  background-color: lightcoral; }

.three {
  background-color: lightgreen; }

.four {
  background-color: lightseagreen; }

.five {
  background-color: lightsalmon; }

.six {
  background-color: #0e5d6fc9; }

.seven {
  background-color: lightgreen; }

.video {
  width: 1440px;
  height: 380px; }
  .video iframe {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
    margin-left: 450px; }

footer {
  background-image: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550);
  display: flex;
  flex-direction: row;
  width: 1440px; }
  footer div {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    gap: 35px; }
  footer figure {
    display: flex;
    flex-direction: row; }
  footer img {
    width: 55px;
    height: 55px;
    padding: 10px;
    margin-right: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px; }
  footer h3 {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    padding: 15px;
    justify-content: center;
    margin-top: 5px;
    margin-left: 10px; }
  footer figcaption {
    margin: 27px 22px 22px 0px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif; }

.main-boletos {
  display: grid;
  width: 1440px;
  height: 1200px;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-template-areas: "fotm sect1" "fotm sect1";
  background-image: url(../assets/img/fondo-informate.jpg);
  background-size: 1440px; }
  .main-boletos img {
    width: 320px; }

.sect1 {
  grid-area: sect1;
  padding: 10px;
  margin: 15px;
  width: 40%;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  grid-template-areas: "none part1 ." "part2 . part3" " part4 part4 part4";
  gap: 25px; }

.sect1 h2 {
  grid-area: part1;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  text-align: center;
  height: 40px;
  padding-top: 0px;
  margin-top: 0px; }

.part2 {
  grid-area: part2; }
  .part2 label {
    font-size: 27px;
    margin-top: 25px;
    font-family: 'Quicksand', sans-serif; }

.part3 {
  grid-area: part3; }
  .part3 label {
    font-size: 27px;
    margin-top: 25px;
    font-family: 'Quicksand', sans-serif; }

.sect1 fieldset {
  grid-area: part4;
  display: flex;
  flex-direction: column;
  height: 100px; }

label {
  font-size: 27px;
  margin-top: 25px;
  font-family: 'Quicksand', sans-serif; }

.sect1 legend {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif; }

.sect1 span {
  font-size: 20px;
  font-family: 'Quicksand', sans-serif; }

.main-galeria {
  background-color: bisque;
  background-image: url(../assets/img/fondo-de-main-blanco.jpg);
  background-size: 1440px;
  height: 1600px; }
  .main-galeria img {
    width: 100px; }
  .main-galeria h5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px;
    font-size: 27px;
    font-family: 'Quicksand', sans-serif;
    background-color: white; }

.h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  background-size: 1440px;
  background-position: center;
  color: white; }

.carrusel {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 1500px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; }

.carrusel-img {
  width: 1500px;
  object-fit: cover;
  scroll-snap-align: center; }
  .carrusel-img img {
    margin: 30px;
    justify-content: center; }

.main-maps {
  background-image: url(../assets/img/fondo-informate.jpg);
  background-size: 1440px;
  height: 1400px; }
  .main-maps h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    padding: 60px;
    color: white; }
  .main-maps h1 {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    font-family: 'Quicksand', sans-serif;
    padding: 35px;
    background-color: white; }
  .main-maps div {
    padding: 50px;
    display: grid;
    row-gap: 80px;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-template-areas: "ub1 ub2 ub3" "ub4 ub5 ub6" "none ub7 .";
    justify-content: space-evenly; }

.ubi1, .ubi2, .ubi3, .ubi4, .ubi5, .ubi6, .ubi7 {
  grid-area: ub1;
  width: 280px;
  height: 240px; }

.ubi2 {
  grid-area: ub2; }

.ubi3 {
  grid-area: ub3; }

.ubi4 {
  grid-area: ub4; }

.ubi5 {
  grid-area: ub5; }

.ubi6 {
  grid-area: ub6; }

.ubi7 {
  grid-area: ub7; }

footer {
  width: 768;
  flex-direction: column; }
  footer div {
    flex-direction: row-reverse;
    gap: 30px; }
  footer img {
    width: 48px;
    height: 48px; }
  footer figure {
    font-size: 30px;
    justify-self: center; }
  footer figcaption {
    font-size: 22px; }

.section-main {
  background-image: url(../assets/img/foto-portada.jpg);
  background-size: contain;
  height: 460px; }
  .section-main h1 {
    font-size: 60px; }
  .section-main h2 {
    font-size: 25px;
    color: white; }
  .section-main button {
    width: 320px; }
  .section-main a {
    font-size: 10px; }

.section-main2 {
  height: 260px;
  width: 100%; }
  .section-main2 h2 {
    font-size: 40px; }
  .section-main2 p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0px 5px 2px 5px; }

.section-main3 h2 {
  font-size: 37px; }

.section-main3 img {
  width: 250px;
  height: 250px; }
