@import "utilities/variables";
@import "base/reset";
@import "utilities/mixin";
@import "utilities/function";
@import "layout/header";
@import "layout/main-index";
@import "layout/main-conocemas";
@import "layout/footer";
@import "layout/main-boletos";
@import "layout/main-galeria";
@import "layout/main-maps";


.main-informate section{
    width: 1200px;
}
.section-main a{
    font-size: 26px;
    padding-top: 20px;
}
.section-main h1{
    font-size: 80px;
}
.section-main h2{
    font-size: 34px;
}

@media (max-width:768px){
    header{
        height: 180px;
    }
    main{
        background-color: rgba(240, 128, 128, 0.829);
        max-width: 768px;
    }
    .section-main{
        background-size: 768px;
        height: 350px; 
        column-gap: 20px;
        h1{
        font-size: 52px;
        padding: 10px 30px 0px 30px;
        margin: 10px 30px 0px 30px;
    }
    h2{
        font-size: 30px;
        color: white;
    }
        button{
        width: 150px;
        justify-content: center;
        margin: 0px;
        padding: 10px;
        height: 70px;
    }
    a{
        padding-top: 9px;
        font-size: 17px;
        }
    a:hover{
        font-size:20px;
        justify-content: center;
    }
}
    .section-main2{
            height: 300px;
            background-color: white;
            width: 768px;
            padding: 20px;
            align-items: center;

        h2{
            font-size: 28px;
            }
        p{
            font-size: 17px;
            }
        }
    .section-main3{
            display: flex;
            height: 1800px;
            flex-direction: column;
            align-items: center;
            background-image: url(../assets/img/fondo-index.jpg);
            background-size: 2000px;
        }
    
    .container-index{
            width: 700px;
            height: 1800px;
        h2{
            font-size: 28px;
        }
    }

footer{
        flex-direction: column;
        width: 768px;
    
        div{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
        figure{
        display: flex;
        flex-direction: row;
    }
        img{
        display: flex;
        width: 52px;
        height: 52px;
        flex-direction: column;
    }
        h3{
        font-size: 16px;
    }
        figcaption{
        font-size: 15px;
    }
    }
.main-informate{
    background-image: url(../assets/img/fondo-de-main-blanco.jpg);
    background-size: 3000px;
    height: 4600px;
    h2{
    display: flex;
    justify-content: center, center;
    font-size: 30px;
    padding: 100px;
    color: whitesmoke;
    text-align: center;
    }
    h4{
    background-color: white;
    padding: 30px;
    font-size: 23px;
    display: flex;
    justify-content: center;
    }
    section{
        width: 680px;
        padding: 10px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 45px;
        justify-content: center, center;
        background-color: rgba(255, 255, 255, 0.575);
    }
}
.one{
    background-color: lightblue;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    h2{
        grid-area: text1;
        padding: 40px;
        display: flex;
        align-items: center;
        font-size: 30px;
    }
        h3{
        grid-area: text2;
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
        background-color: white;
        padding: 20px;
        margin: 15px;
    }
}
.video{
    width: 300px;
    height: 300px;
    justify-content: center;
    iframe{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
    margin-left: 60px;
    }
}
.main-maps{
    background-size: 768px;
    height: 1150px;
    h2{
    display: flex;
    justify-content: center;
    font-size: 33px;
    padding: 40px;
    }
    h1{
        display: flex;
        justify-content: center;
        font-size: 25px;
        padding: 30px;
    }
    div{
        padding: 40px;
        display: grid;
        row-gap: 30px;
        grid-template-columns: 2;
        grid-template-rows: 4;
        grid-template-areas: 
        "ub1 ub2"
        "ub3 ub4"
        "ub5 ub6"
        "ub7 ub7";
        justify-content: space-evenly;
    }
}
    .ubi1{
        grid-area: ub1;
        width: 200px;
        height: 170px;
    }
    .ubi2{
        grid-area: ub2;

    }
    .ubi3{
        grid-area: ub3;

    }
    .ubi4{
        grid-area: ub4;

    }
    .ubi5{
        grid-area: ub5;

    }
    .ubi6{
        grid-area: ub6;

    }
    .ubi7{
        grid-area: ub7;
        
    }
    .main-boletos{
        width: 768px;
        height: 1880px;
    }
    .sect1{
        height: 1900px;
        width: 80%;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 8;
        grid-template-areas:
        " text text" 
        "part2 part2"
        "part2 part2"
        "part3 part3"
        "part3 part3"
        "part4 part4"
        " part4 part4"
        " part4 part4";
        gap: 0px;
    }
    .sect1 h2{
        grid-area: text;
        font-size: 30px;
        margin: 10px;
        text-align:center;
        background-color: white;
        height: 100px;
        padding: 30px;
    }
    .part2{
        grid-area: part2;
        height: 500px;
        label{
            font-size: 27px;
            margin: 15px;
            padding: 10px;
            margin-left: 70px;
            margin-bottom: 40px;
            text-align: center;
        }
        input{
        height: 25px;
        width: 25px;
        } 
        figure{
            width: 100%;
            img{
                height: 500px;
                padding-right: 27px;
                padding-left: 67px;
            }
        }
    }
    .part3{
        grid-area: part3;
        height: 500px;
        label{
            font-size: 27px;
            margin: 15px;
            padding: 10px;
            margin-left: 70px;
            margin-bottom: 40px;
            text-align: center;
        }
        input{
            height: 25px;
            width: 25px;
            } 
        figure{
            width: 100%;
            img{
                height: 500px;
                padding-right: 27px;
                padding-left: 67px;
        }
    }
    }
    .sect1 fieldset{
        height: 480px;
        label{
        font-size:22px;
        margin-top: 25px;
        }
        legend{
            font-size: 27px;
            }
            span{
            font-size: 22px;
        }
        input{
            font-size: 22px;
            height: 40px;
            padding: 15px;
        }
}
.main-galeria{
    background-color: rgba(245, 222, 179, 0.603);
    height: 10600px;
    width: 768px;
    h5{
        font-size: 25px;  
        text-align: center;  
    }
}
.h3{
    padding: 27px;
    font-size: 30px;
}
.collage{
    width: 100%;
    height: 4000px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1;
    grid-template-rows: 7;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis"
    "siete";
}
.bloque1{
    width: 90%;
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
    gap: 30px;
    p{
    padding: 20px;
    margin-right: 40px;
    background-color: lightblue;
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 160px;
    }
}
.bloque2{
    width: 90%;
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 40px;
        background-color: lightblue;
        text-align: center;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 160px;
    }
}
.bloque3{
    width: 90%;
    grid-area: tres;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 40px;
        background-color: lightblue;
        text-align: center;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 160px;
    }
}
.bloque4{
    width: 90%;
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 40px;
        background-color: lightblue;
        text-align: center;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 160px;
    }
}
.bloque5{
    width: 90%;
    grid-area: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 40px;
        background-color: lightblue;
        text-align: center;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 160px;
    }
}
.bloque6{
    width: 90%;
    grid-area: seis;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 40px;
        background-color: lightblue;
        text-align: center;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 160px;
    }
}
.bloque7{
    width: 90%;
    grid-area: siete;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 40px;
        background-color: lightblue;
        text-align: center;
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 160px;
    }
}
}
@media (max-width:390px){
    header{
        width: 390px;
        height: 330px;
    }
    main{
        max-width: 390px;
    }
    .section-main{
        background-image: contain; 
        column-gap: 0px;
        justify-content: center;
        grid-template-columns: 1;
        grid-template-rows: 3;
        grid-template-areas: 
        "item1"
        "item2"
        "item3";
    h1{
        font-size: 45px;
        padding: 10px 30px 0px 30px;
        margin: 10px 30px 0px 30px;
    }
    h2{
        font-size: 28px;
        color: white;
    }
        button{
        width: 200px;
        margin-left: 30px;
        height: 70px;
    }
    a{
        font-size: 17px;
        }
    a:hover{
        font-size:19px;
    }
    }
    .section-main2{
            height: 320px;

            width: 390px;

        h2{
            font-size: 25px;
            }
        p{
            font-size: 15px;
            }
        }
    .section-main3{
        background-size: 4200px;
        height: 3300px;
        }
    .container-index{
            width: 280px;
            height: 3300px;
        h2{
            font-size: 22px;
            text-align: center;
    }
    }
footer{
        flex-direction: column;
        max-width: 390px;
        background-color: linear-gradient(to bottom, #eaa815, #eeaf28, #f1b736, #f5be44, #f9c550);
    
        div{
        width: 390px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        text-align: center;
    }
        figure{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin-right: 0;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        }
    }
        h3{
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
        figcaption{
        font-size: 13;
        margin-right: 0;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    }
.main-informate{
        background-image: url(../assets/img/fondo-de-main-blanco.jpg);
        background-size: 2000px;
        height: 8500px;
        h2{
        justify-content: center, center;
        font-size: 22px;
        padding: 80px;
        text-align: center;
        }
        h4{
        background-color: white;
        padding: 20px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        }
        section{
            width: 300px;
            padding: 10px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 45px;
            justify-content: center, center;
            background-color: rgba(255, 255, 255, 0.575);
        }
    }
    .one{
        background-color: lightblue;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
        h2{
            grid-area: text1;
            background-color: black;
            color: white;
            display: flex;
            align-items: center;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            padding: 30px;
        }
            h3{
            grid-area: text2;
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
            background-color: white;
            padding: 20px;
            margin: 0px;
        }
    }
    .video{
        width: 40px;
        height: 70px;
        justify-content: center;
        iframe{
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0px;
        margin-left: 10px;
        }
    }
    .main-maps{
        background-size: 1400px;
        height: 1570px;
        h2{
        display: flex;
        text-align: center;
        font-size: 24px;
        padding: 32px;
        }
        h1{
            display: flex;
            text-align:  center;
            font-size: 16px;
            padding: 25px;
        }
        div{
            padding: 40px;
            display: grid;
            row-gap: 30px;
            grid-template-columns: 1;
            grid-template-rows: 7;
            grid-template-areas: 
            "ub1"
            "ub2"
            "ub3"
            "ub4"
            "ub5"
            "ub6"
            "ub7";
            justify-content: space-evenly;
        }
    }
        .ubi1{
            grid-area: ub1;
            width: 180px;
            height: 160px;
        }
        .ubi2{
            grid-area: ub2;
    
        }
        .ubi3{
            grid-area: ub3;
    
        }
        .ubi4{
            grid-area: ub4;
    
        }
        .ubi5{
            grid-area: ub5;
    
        }
        .ubi6{
            grid-area: ub6;
    
        }
        .ubi7{
            grid-area: ub7;
            
        }
        .main-boletos{
            width: 390px;
            height: 1780px;
        }
        .sect1{
            height: 1800px;
            width: 90%;
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 8;
            grid-template-areas:
            " text" 
            "part2"
            "part2"
            "part3"
            "part3"
            "part4"
            "part4"
            "part4";
            gap: 0px;
        }
        .sect1 h2{
            grid-area: text;
            font-size: 22px;
            margin: 10px;
            height: 60px;
            padding: 20px;
        }
        .part2{
            grid-area: part2;
            height: 430px;
            gap: 20px;
            label{
                font-size: 18px;
                margin-left: 70px;
                margin-bottom: 60px;
                text-align: center;
            }
            input{
            height: 20px;
            width: 20px;
            } 
            figure{
                width: 100%;
                img{
                    margin-top: 30px;
                    height: 400px;
                    width: 100%;
                    padding: 0px;
                }
            }
        }
        .part3{
            grid-area: part3;
            height: 430px;
            label{
                font-size: 18px;
                margin: 15px;
                padding: 10px;
                margin-left: 50px;
                margin-bottom: 40px;
                text-align: center;
            }
            input{
                height: 20px;
                width: 20px;
                } 
            figure{
                width: 100%;
                img{
                    margin-top: 30px;
                    height: 400px;
                    padding: 0px;
                    width:100%;
            }
        }
}
.sect1 fieldset{
    height: 450px;
    label{
    font-size:20px;
    margin-top: 25px;
    }
    legend{
        font-size: 22px;
        }
        span{
        font-size: 18px;
    }
    input{
        font-size: 18px;
        height: 40px;
        padding: 15px;
    }
}
.main-galeria{
    background-color: rgba(245, 222, 179, 0.603);
    height: 10600px;
    width: 390px;
    h5{
        font-size: 20px;  
        text-align: center;  
    }
}
.h3{
    padding: 23px;
    font-size: 30px;
}
.collage{
    width: 100%;
    height: 4000px;
}
.bloque1{
    width: 90%;
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 60px;
    gap: 30px;
    p{
    padding: 20px;
    margin-right: 85px;
    background-color: lightblue;
    text-align: center;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 30px;
    }
}
.bloque2{
    width: 90%;
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 85px;
        background-color: lightblue;
        text-align: center;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 30px;
    }
}
.bloque3{
    width: 90%;
    grid-area: tres;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 85px;
        background-color: lightblue;
        text-align: center;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 30px;
    }
}
.bloque4{
    width: 90%;
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 85px;
        background-color: lightblue;
        text-align: center;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 30px;
    }
}
.bloque5{
    width: 90%;
    grid-area: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 85px;
        background-color: lightblue;
        text-align: center;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 30px;
    }
}
.bloque6{
    width: 90%;
    grid-area: seis;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 85px;
        background-color: lightblue;
        text-align: center;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 30px;
    }
}
.bloque7{
    width: 90%;
    grid-area: siete;
    display: flex;
    flex-direction: column;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
        padding: 20px;
        margin-right: 85px;
        background-color: lightblue;
        text-align: center;
        font-size: 16px;
        font-family: 'Quicksand', sans-serif;
        background-size: 260px;
    }
    img{
        width: 70%;
        height: 300px;
        padding-left: 30px;
    }
}
}