.main-galeria{
    background-color: rgba(245, 222, 179, 0.603);
    height: 2500px;
    width: 1440px;
    h5{
        background-image: url(../assets/img/fondo-de-main-blanco.jpg);
        display: flex;
        background-size: cover;
        flex-direction: row;
        justify-content: center;
        padding: 35px;
        margin: 30px;
        font-size: 27px;
        color: white;
        margin-left: 0px;
        margin-right: 0px;
        font-family: 'Quicksand', sans-serif;
    }
}
.h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    background-size: 1440px;
    background-position: center;
    color: black;
    margin: 10px ;
}
.collage{
    width: 100%;
    height: 2000px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1;
    grid-template-rows: 7;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco"
    "seis"
    "siete";
}
.bloque1{
    width: 90%;
    grid-area: uno;
    display: flex;
    flex-direction: row;
    justify-content: center, center;
    margin-left: 60px;
    gap: 30px;
    p{
    padding: 20px;
    padding-top: 90px;
    background-color: lightblue;
    text-align: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    background-size: 260px;
    }
    img{
        width: 260px;
        height: 260px;
    }
}
.bloque2{
    grid-area: dos;
    @extend .bloque1;
    p{
        padding-top: 50px;
    }

}
.bloque3{
    grid-area: tres;
    @extend .bloque1;
    p{
        padding-top: 20px;
    }
    img{
        width: 230px;
        height: 240px;
    }
}
.bloque4{
    grid-area: cuatro;
    @extend .bloque1;
    p{
        padding-top: 20px;
    }
    img{
        width: 230px;
        height: 240px;
    }
}
.bloque5{
    grid-area: cinco;
    @extend .bloque1;
    p{
        padding: 5px;
        padding-top: 40px;
    }
}
.bloque6{
    grid-area: seis;
    @extend .bloque1;
    p{
        padding: 5px;
        padding-top: 40px;
    }
    img{
        width: 260px;
        height: 200px;
    }
}
.bloque7{
    grid-area: siete;
    @extend .bloque1;
    p{
        padding-top: 40px;
    }
}
