main{
    background-color: rgba(240, 128, 128, 0.829);
    width: 1440px;
}
    
.section-main{
    background-image: url(../assets/img/foto-portada.jpg);
    background-size: 1440px;
    height: 430px;
    background-position: center;
    display: grid;
    grid-template-columns: 2;
    grid-template-areas: 2;
    grid-template-areas: 
    "item1 ."
    "item2 item3";
    column-gap: 40px;
    h1{
    grid-area: item1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
    font-family: 'Satisfy', cursive;
    padding: 30px 30px 0px 30px;
    margin: 30px 30px 0px 30px;
    }
    h2{
        grid-area: item2;
        display: flex;
        align-content: baseline;
        justify-content: center;
        font-family: 'Satisfy', cursive;
        font-size: 30px;
    }
    button{
        grid-area: item3;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 400px;
        margin: 0px 24px 30px 100px;
        padding: 10px;
        background-color: #CF2B10;
        border:#CF2B10;
        border-radius: 20px;
    }
    
    a{
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
        padding-top: 12px;
        color: white;
        text-decoration: none;
        }
    a:hover{
        font-size:28px;
        justify-content: center;
    }
}
    .section-main2{
        display: flex;
        flex-direction: column;
        height: 250px;
        background-color: white;
        width: 1440px;
        align-items: center;
    h2{
        padding: 10px;
        margin: 25px 20px 10px 20px;
        font-size: 35px;
        justify-content: center;
        font-family:  'Quicksand', sans-serif;
        }
    p{
        display: flex;
        justify-content:space-evenly;
        font-size: 20px;
        font-family:  'Quicksand', sans-serif;
        padding: 0px 5px 5px 5px;
        margin: 0px 5px 20px 5px;
        text-align: center;
        }
    }
.section-main3{
        display: flex;
        height: 1500px;
        flex-direction: column;
        align-items: center;
        background-image: url();
    }

.container-index{
        width: 1000px;
        height: 1600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.815);
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-size: 35px;
        font-family:  'Quicksand', sans-serif;
        padding: 20px;
        margin: 15px;
    }
    img{
        width: 220px;
        height: 220px;
        display: flex;
        flex-direction: row;
        border-radius: 100%;
    }
    div{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        gap: 90px;
        justify-content: space-around;
    }
    figcaption{
        font-size: 20px;
        margin: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-right: 40px;
        padding-right: 10px;
        }
    
}


