.main-informate{
    background-image: url(../assets/img/fondo-de-main-blanco.jpg);
    background-size: 1500px;
    h2{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    padding: 100px;
    color: white;
    }
    h4{
    background-color: white;
    padding: 30px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    }
    section{
        width: 1200px;
        padding: 50px;
        margin: 115px;
        margin-top: 0px;
        margin-bottom: 0px;
        align-content: center, center;
        background-color: rgba(255, 255, 255, 0.575);
    }
}
.one{
    background-color: lightblue;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 30px;
    h2{
        grid-area: text1;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
    }
        h3{
        grid-area: text2;
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
        background-color: white;
        padding: 20px;
        margin: 15px;
    }

}
.two{
    background-color: lightcoral;
   @extend .one
    }

.three{
    background-color: lightgreen;
   @extend .one
    }

.four{
    background-color: lightseagreen;
    @extend .one
}
.five{
    background-color: lightsalmon;
    @extend .one
}
.six{
    background-color: #0e5d6fc9;
    @extend .one
}
.seven{
    background-color: lightgreen;
    @extend .one
}
.video{
    width: 1440px;
    height: 380px;
    iframe{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px;
    margin-left: 450px;
    }
}
